.page {
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gro-card {
  background-color: white;
  width: 25%;
  min-width: 300px;
  padding: 20px;
  border-radius: 15px;
}

.gro-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gro-items {
  margin-top: 10px;
  margin-bottom: 10px;
}

.gro-item-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.radio-icon {
  font-size: 1.8rem;
  opacity: 0.6;
  padding-top: 5px;
}
.item-text {
  font-size: 1rem;
}

.plus-sign{
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.plus-sign-btn{
  color: white;
  background-color: #4E4E80;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
}